<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios AJAX</title>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js



    "></script>
</head>

<body>
    <button>GET</button>
    <button>POST</button>
    <button>AJAX</button>

    <script>
        // https://github.com/axios/axios
        const btns = document.querySelectorAll('button');

        //set up baseURL
        axios.defaults.baseURL = 'http://127.0.0.1:8000';

        btns[0].onclick = function () {
            //GET request
            axios.get('/axios-server', {
                //url parameter
                params: {
                    id: 100,
                    vip: 7
                },
                headers: {
                    name: 'atguigu',
                    age: 20
                }
            }).then(value => {
                console.log(value);
            });
        }

        btns[1].onclick = function () {
            axios.post('/axios-server', {
                username: 'admin',
                password: 'admin'
            }, {
                //url parameter
                params: {
                    id: 200,
                    vip: 9
                },
                headers: {
                    height: 180,
                    weight: 180,
                }
            });
        }
    
        btns[2].onclick = function(){
            axios({
                //method
                method : 'POST',
                //url
                url: '/axios-server',
                //url parameter
                params: {
                    vip:10,
                    level:30
                },
                headers: {
                    a:100,
                    b:200
                },
                //request body parameter
                data: {
                    username: 'admin',
                    password: 'admin'
                }
            }).then(response=>{
                //response status code
                console.log(response.status);
                console.log(response.statusText);
                console.log(response.headers);
                //response body
                console.log(response.data);
            })
        }
    </script>
</body>

</html>