<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<title></title>
		<style type="text/css">
			
			*{
				margin: 0;
				padding: 0;
			}
			#test{
				width: 320px;
				height: 100px;
				background: pink;
			}
		</style>
	</head>
	<body>
		<div id="test">test</div>
	</body>
	<script type="text/javascript">
		//Adjust the width of all device layout viewport to the width of the design diagram 
		/*
			var targetW = 640;
			var scale = screen.width/targetW;
			var meta = document.createElement("meta");
			meta.name = "viewport";
			meta.content="initial-scale="+scale+",minimum-scale="+scale+",maximum-scale="+scale+",user-scalable=no";
			document.head.appendChild(meta);
		*/
		
		//viewport adaptation principle: The number of css pixels occupied by each element on different devices is the same. But the ratio of css pixels and physical pixels is proportional zoomed.
		/*
			viewport adaptation pro and cons：
			pro: What you measured is what you get 
			con: Not using perfect viewport 
		*/
		(function(){
			var targetW = 640;
			var scale = document.documentElement.clientWidth/targetW;
			var meta =	document.querySelector("meta[name='viewport']");
			meta.content="initial-scale="+scale+",minimum-scale="+scale+",maximum-scale="+scale+",user-scalable=no";
		})()
		
		
	</script>
</html>
